/* universal  */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-color {
    color: #E55473;
}
.white-text{
    color: #FFFFFF;
}

.button-style {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
}

.header {
    background-color: #E554731A;
}

.banner {
    padding: 35px 60px 0px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .header-pic {
    width: 625px;
    padding-right: 180px;
}

.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    width: 708px;
    padding-left: 120px;
    /* padding-bottom: -100px; */
}

.banner-text {
    color: #27272799;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 120px;
    width: 634px;
    /* padding-top: 32; */
}

.button-shop {
    padding-left: 120px;
}

/* .content{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* main  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.featured {
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding-top: 178px;
    /* font-weight: 800; */
}

.featured-text {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 250px;
    padding-right: 250px;

}

.deal {
    display: flex;
    background-color: #E554730D;
    margin: 100px 0px;
    /* margin-left: 0; */
    padding: 80px 100px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}


.deal-text {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}

.insta-text {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;

}

.insta {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding-bottom: 50px;

}

.find-title {
    color: #272727;
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 800;

}

.find-text {
    color: #27272799;
    /* padding-top: 30px; */
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.find-content {
    background-image: url(../FlowerAsset/Rectangle-9.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 1100px;
    height: 350px;
}

.email {
    width: 300px;
    height: 58px;
    border-radius: 8px;
    margin: auto;
    width: 50%;
}

footer{
    width: 100%;
height: 449px;
background-color: #111010;
}

.footer-title{
    color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
padding-top: 150px;
}
.footer-text{
    color: #FFFFFFE5;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-left: 600px;
padding-right: 600px;
}
.footer-credit{
    color: #FFFFFF66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}